body {
    font-family: helvetica;
    overflow: hidden;
    background: linear-gradient(
        90deg,
        rgba(248, 201, 195, 1) 1%,
        rgba(245, 200, 227, 1) 20%,
        rgba(219, 193, 248, 1) 40%,
        rgba(153, 179, 252, 1) 60%,
        rgba(109, 171, 228, 1) 80%
    );
}

.pageContainer {
    /* width: 100vw; */
    min-height: 100vh;
    overflow: hidden;
}
.appContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: calc(50% - 600px);
    top: 0;
    transition: all 1.5s ease;
    width: 1200px;
}

/* =============== LANDING SECTION =============== */
.landingContainer {
    /* background-color: pink; */
}

.logoSliderContainer {
    position: absolute;
    color: white;
    background: linear-gradient(
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.25)
    );
    height: 120vh;
    width: 350px;
    border-radius: 250px;
    left: 20%;
    top: 40vh;
    /* opacity: 1; */
    /* transition: opacity 0.5s ease; */
}
.logoSliderImage {
    pointer-events: none;
    position: relative;
    width: 320px;
    height: 320px;
    display: inline-block;
    top: 15px;
    border-radius: 50%;
    left: 15px;
    transition: all 1.5s ease;
}
.logoSliderCircle {
    position: absolute;
    width: 400px;
    height: 400px;
    bottom: -34px;
    left: -30px;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 0 30px 15px white;
    display: block;
    transition: all 0.5s ease;
    opacity: 0;
}
.landingHeader {
    position: relative;
    color: white;
    left: 50%;
    top: 37vh;
    height: 12vh;
    font-size: 50px;
}
/* normal text */
.landingText {
    display: inline-block;
    font-size: 32px;
    position: relative;
    left: 50%;
    top: 37vh;
    color: white;
    margin-top: 15px;

    width: 400px;
}
.landingTitle {
    border: solid 1px white;
    border-radius: 36px;
    margin-top: 15px;
    padding: 5px;
    display: block;
    height: 32px;
    text-align: center;
    letter-spacing: 5px;
}
.landingSubtitle {
    margin-top: 15px;
    border-radius: 36px;
    width: 400px;
    padding: 5px;
    display: block;
}
.landingButton {
    border: solid 1px white;
    color: white;
    border-radius: 36px;
    padding: 7px;
    background-color: transparent;
    width: 30px;
}
.landingButton:hover {
    background-color: rgba(153, 179, 252, 1);
}
/* { NAME ANIMATION } */
.letter {
    display: inline-block;
    opacity: 0;
}

/* =============== ABOUT SECTION =============== */
.aboutContainer {
    /* background-color: purple; */
    display: flex;
}
/* ABOUT ME page title */
.aboutHeader {
    font-size: 50px;
    color: white;
    border-radius: 250px;
    left: 53%;
    top: 120vh;
    position: absolute;
}
/* about me text blerb */
.aboutContent {
    top: 28vh;
    left: 53%;
    width: 445px;
    height: 150px;
    position: relative;
    padding: 15px;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 20px;
    color: white;
    line-height: 1.25;
}
/* encompasses title and list items*/
.techBox {
    color: white;
    position: absolute;
    top: 148vh;
    left: 55%;
    font-size: 20px;
    margin-top: 15px;
}
/* encompasses title and list items*/
.skillBox {
    color: white;
    position: absolute;
    top: 155vh;
    left: 55%;
    font-size: 20px;
    margin-top: 15px;
}
/* list items */
.aboutBubbleItem {
    text-decoration: none;
    border-radius: 36px;
    border: solid 1px white;
    color: white;
    display: inline-block;
    position: relative;
    margin: 10px 10px 10px 0px;
    text-align: center;
    list-style: none;
    padding: 5px;
    width: 100px;
    transition: 0.25s;
}
.aboutButton {
    border-radius: 36px;
    border: solid 1px white;
    position: relative;
    text-align: center;
    list-style: none;
    width: 125px;
    top: 65vh;
    left: 5%;
    height: 65px;
    color: white;
    font-size: 18px;
    background-color: transparent;
}
.aboutButton:hover {
    background-color: rgba(153, 179, 252, 1);
}
.aboutBubbleItem:hover,
.aboutBubbleItem:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
.tempBtn {
    border-radius: 36px;
    position: relative;
    text-align: center;
    list-style: none;
    width: 75px;
    top: 65vh;
    left: 7%;
    height: 60px;
    font-size: 20px;
    background-color: pink;
    margin-left: 15px;
}

/* =============== EDUCATION SECTION =============== */
.eduContainer {
    /* background-color: green; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}
.orbital-container {
    /* width: 600px; */
    height: 600px;
    opacity: 0;
    transition: all 1s ease;
    position: relative;
    left: 42%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orbital-box {
    offset-path: path('M200,0 A200,200 0 1,1 200,400 A200,200 0 1,1 200,0');
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 300px;
    height: 150px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 36px;
    margin: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.eduTitle {
    position: absolute;
    color: white;
}
.eduHeader {
    transition: all 0.2s ease;
    padding: 25px;
    color: white;
    font-size: 24px;
    text-align: center;
    align-items: center;
    display: flex;
}

.eduCard1,
.eduCard2,
.eduCard3 {
    /* bottom: 30vh; */
    justify-content: center;
    text-align: center;
    display: flex;
    width: 300px;
    height: 150px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 36px;
    margin: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.eduImage {
    width: 150px;
    border-radius: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.eduContent {
    height: 0;
    opacity: 0;
    visibility: hidden;
    margin: 5px;
    line-height: 1.5em;
}

.eduList {
    text-align: center;
    list-style: none;
    padding: 8px;
    font-size: 20px;
    align-items: center;
}
/* =============== PROJECT SECTION =============== */
.projectContainer {
    /* background-color: orange; */
    display: flex;
}
/* ===============LEFT SIDE COMPUTER SECTION STARTS */
/* ABOUT ME page title */
.projectHeader {
    font-size: 50px;
    color: white;
    border-radius: 250px;
    left: 5%;
    top: 310vh;
    position: absolute;
}
/* about me text blerb */
.projectContent {
    position: absolute;
    height: 400px;
    width: 450px;
    line-height: 1.25;
    left: 58px;
    bottom: 50vh;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 20px;
    color: white;
}
.textSlideshow {
    max-width: 1000px;
    position: relative;
    top: 10vh;
    right: 5px;
    text-align: center;
}
/* Hide the images by default */
.projectSlides {
    display: none;
}

/* The dots/bullets/indicators */
.textSlideshowDot {
    text-align: center;
    margin-top: 320px;
}
/* ===============RIGHT SIDE COMPUTER SECTION STARTS */
/* computer image */
.computer {
    pointer-events: none;
    position: relative;
    width: 600px;
    height: 600px;
    display: inline-block;
    top: 155px;
    right: 130px;
    transition: all 1.5s ease;
}
/* Computer container */
.computerContainer {
    position: absolute;
    height: 350px;
    width: 350px;
    right: 10%;
    bottom: 74vh;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    bottom: 22vh;
    right: 125px;
    width: 587px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.textPrev,
.textNext {
    cursor: pointer;
    position: absolute;
    top: 7vh;
    left: -75px;
    padding: 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.textNext {
    left: 455px;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover,
.textPrev:hover,
.textNext:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dotContainer {
    text-align: center;
    margin-top: -240px;
    margin-right: 35px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .textPrev .next,
    .textNext .text {
        font-size: 11px;
    }
}
/* SVG PATH */
/***************************************************
 * Generated by SVG Artista on 7/10/2023, 1:22:49 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/
.svgContainer {
    /* background-color: pink; */
    position: relative;
    right: 181px;
    bottom: 14vh;
}

@-webkit-keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 2515.90478515625px;
        stroke-dasharray: 2515.90478515625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2515.90478515625px;
    }
}

@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 2515.90478515625px;
        stroke-dasharray: 2515.90478515625px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 2515.90478515625px;
    }
}

.svg-elem-1 {
    -webkit-animation: animate-svg-stroke-1 2s
        cubic-bezier(0.47, 0, 0.745, 0.715) 5s both;
    animation: animate-svg-stroke-1 2s cubic-bezier(0.47, 0, 0.745, 0.715) 5s
        both;
}
