body {
    font-family: helvetica;
    overflow: hidden;
    background: linear-gradient(
        90deg,
        rgba(248, 201, 195, 1) 1%,
        rgba(245, 200, 227, 1) 20%,
        rgba(219, 193, 248, 1) 40%,
        rgba(153, 179, 252, 1) 60%,
        rgba(109, 171, 228, 1) 80%
    );
}

.pageContainer {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}
.appContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: calc(50% - 600px);
    top: 0;
    transition: all 1.5s ease;
    width: 1200px;
}
.landingContainer {
    background-color: pink;
}

.logoSliderContainer {
    position: absolute;
    color: white;
    background: linear-gradient(
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.25)
    );
    height: 120vh;
    width: 350px;
    border-radius: 250px;
    left: 25%;
    top: 40vh;
    /* opacity: 1; */
    /* transition: opacity 0.5s ease; */
}
.logoSliderImage {
    pointer-events: none;
    position: relative;
    width: 320px;
    height: 320px;
    display: inline-block;
    top: 15px;
    border-radius: 50%;
    left: 15px;
    transition: all 1.5s ease;
}
.logoSliderCircle {
    position: absolute;
    width: 400px;
    height: 400px;
    bottom: -34px;
    left: -30px;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 0 30px 15px white;
    display: block;
    transition: all 0.5s ease;
    opacity: 0;
}
/* NEWWWWW */
/* animation css */
.landingHeader {
    position: relative;
    color: white;
    left: 30%;
    top: 37vh;
    height: 12vh;
    font-size: 50px;
}
/* normal text */
.landingText {
    display: inline-block;
    font-size: 32px;
    position: relative;
    left: 30%;
    top: 37vh;
    color: white;
    margin-top: 15px;

    width: 400px;
}
.landingTitle {
    border: solid 1px white;
    border-radius: 36px;
    margin-top: 15px;
    padding: 5px;
    display: block;
    height: 32px;
    text-align: center;
    letter-spacing: 5px;
}
.landingSubtitle {
    margin-top: 15px;
    border-radius: 36px;
    width: 400px;
    padding: 5px;
    display: block;
}
.landingButton {
    border: solid 1px white;
    color: white;
    border-radius: 36px;
    padding: 7px;
    background-color: transparent;
    width: 30px;
}
.landingButton:hover {
    background-color: rgba(153, 179, 252, 1);
}
/* =============== NAME ANIMATION  =============== */
.letter {
    display: inline-block;
    opacity: 0;
}

/* =============== ABOUT SECTION =============== */
.aboutContainer {
    background-color: purple;
}
/* .aboutContainer {
    position: absolute;
    width: 600px;
    margin-top: 100px;
    margin-left: 50px;
    text-align: left;
}
.aboutHeader {
    text-align: left;
    font-size: 50px;
    padding: 5px;
    font-weight: bold;
}
.aboutContent {
    text-align: left;
    position: relative;
    display: flex;
    margin-top: 500px;
    padding: 15px;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 24px;
}
.aboutSubtitle {
    text-align: left;
    font-size: 26px;
    margin: 15px 0px 5px 0px;
    padding: 5px;
}
.aboutBubbleItem {
    text-align: left;
    text-decoration: none;
    list-style: none;
    border-radius: 36px;
    border: solid 1px white;
    width: fit-content;
    padding: 8px;
    display: inline-flex;
    font-size: 20px;
} */

/* =============== SPARKLE =============== */
/* .sparkle {
    background: white;
    height: 2em;
    width: 2em;
    border-radius: 0.1em;
    transform: rotate(45deg);
    position: relative;
    transition: font-size 0.3s ease-in-out;
    position: absolute;
    display: flex;
    margin-top: 745px;
    margin-left: -475px;
}

.sparkle::after {
    top: 1.2em;
    right: -1.3em;
    height: 0.6em;
    width: 0.6em;
    border-radius: 0.2em;
}

.sparkle:hover {
    font-size: 1.1em;
} */
/* =============== EDUCATION SECTION =============== */
.eduContainer {
    background-color: green;
}
/* .eduContainer {
    position: absolute;
    margin-top: 1500px;
}
.eduCard1,
.eduCard2,
.eduCard3 {
    width: 600px;
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 36px;
    margin: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.eduHeader {
    position: relative;
    height: 30px;
    transition: all 0.2s ease;
    padding: 25px;
}
.eduImage {
    width: 150px;
    border-radius: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.eduCard1:hover img,
.eduCard2:hover img,
.eduCard3:hover img {
    display: none;
}
.eduContainer:hover .eduHeader {
    height: 100px;
    transition: all 0.2s ease;
}

.eduContent {
    height: 0;
    opacity: 0;
    visibility: hidden;
    margin: 5px;
    line-height: 1.5em;
}

.eduContainer:hover .eduContent {
    height: 3em;
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease;
}

.eduList {
    text-align: center;
    list-style: none;
    padding: 8px;
    font-size: 20px;
    align-items: center;
} */
